In [1]:
# Packages
import os
import csv
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from math import ceil
from googletrans import Translator
import pycountry

### Data importation

In [3]:
df = pd.read_excel("EuropeTop100Attractions_ENG_20190101_20210821.xlsx", sheet_name='Reviews', engine="openpyxl")

### Functions

In [33]:
geolocator = Nominatim(user_agent="geo_locator")

def get_iso_code(location):
    try:
        iso_code = pycountry.countries.search_fuzzy(location)[0].alpha_2
    except (LookupError, IndexError):
        try:
            geocode_result = geolocator.geocode(location, language='en')
            iso_code = next((country.alpha_2 for part in geocode_result.raw.get('display_name', '').split(', ')[::-1]
                            if (country := pycountry.countries.get(name=part))), None)
        except Exception as e:
            iso_code = None

    return iso_code

# Data Cleaning: UserLocation
##### Data Cleaning Process for User Locations
To clean the user locations in our dataset, we initially attempted to use the geopy.geocoders package. However, due to the sheer volume of diverse locations, this approach encountered challenges in returning the results for all locations. As a result, we incorporated the pycountry package to improve the efficiency of the process.

While pycountry significantly accelerates the geocoding process, it is not infallible, and certain limitations exist. For instance, when extracting ISO codes for locations with state abbreviations following a comma, such as 'Indianapolis, IN', inaccuracies may arise, with the ISO code erroneously corresponding to other countries, as in the case of 'Indianapolis, IN' being misinterpreted as India.

Given these challenges and to streamline the process for a more manageable control, we adopted the following approach:

1. Initial setup
We begin by extracting and working with unique values from the userLocation column. This allows us to focus on a more manageable set during the normalization process.

2. Geocoding Locations
Subsequently, we employ the geocoding code. This step allows us to systematically address the entire dataset, identifying and rectifying any geocoding errors that may arise. In the end we can adjust some exceptiosn almost 'manually' beacause they are significally less (322 locations) and we can controle it btter. 

3. Verify the values in excel
After geocoding and adjustments, the results are consolidated and verified using Excel.

In [4]:
df.head()

,localID,extractionDate,globalRating,positionOnRanking,sitesOnRanking,totalReviews,userName,userLocation,userContributions,tripType,reviewWritten,reviewVisited,reviewRating,reviewLanguage,reviewFullText
0,MAG001,2021-08-20 08:24:40.077,4.5,1,1186,163828,Maurice M@MauriceM171,"Indianapolis, IN",29,Couples,2021-08-18,2021-08-01,5,en,"Absolutely breathtaking use of light, an amazi..."
1,MAG001,2021-08-20 08:24:40.097,4.5,1,1186,163828,nickchamb@nickchamb,"Bandon, Ireland",7,Couples,2021-08-17,2021-03-01,5,en,A really interesting and beautiful place to vi...
2,MAG001,2021-08-20 08:24:40.117,4.5,1,1186,163828,Arthur Villon@arthur4588,"Valencia, Spain",268,Friends,2021-08-16,2021-08-01,5,en,Beautiful place and must visit place in barcel...
3,MAG001,2021-08-20 08:24:40.147,4.5,1,1186,163828,James U@696jamesu,NaN,7,NaN,2021-08-16,2021-07-01,5,en,A MUST when visiting Barcelkona. It is consta...
4,MAG001,2021-08-20 08:24:40.159,4.5,1,1186,163828,Kamal K Sirra@Sirra63,"Madrid, Spain",516,Family,2021-08-15,2021-07-01,4,en,I visited about 20 years ago and there has bee...

In [5]:
df.shape

(92120, 15)

In [14]:
# Create a new DataFrame with only the 'userLocation' column
df_user_location = df[['userLocation']].copy()

In [15]:
df_user_location.shape

(92120, 1)

In [16]:
df_user_location.head()

       userLocation
0  Indianapolis, IN
1   Bandon, Ireland
2   Valencia, Spain
3               NaN
4     Madrid, Spain

In [17]:
# Drop duplicates and NaN values in the 'userLocation'
df_user_location.drop_duplicates(subset=['userLocation'], inplace=True)
df_user_location.dropna(subset=['userLocation'], inplace=True)

In [18]:
df_user_location.shape

(12613, 1)

In [22]:
df_user_location['userISOCode'] = df_user_location['userLocation'].apply(get_iso_code)

In [23]:
df_user_location.head()

       userLocation userISOCode
0  Indianapolis, IN          US
1   Bandon, Ireland          IE
2   Valencia, Spain          ES
4     Madrid, Spain          ES
5        Towaco, NJ          US

In [24]:
print(df_user_location['userISOCode'].isna().sum())

322

In [26]:
# Set Pandas display options to show all rows and columns
pd.set_option('display.max_rows', None)

missing_values_rows = df_user_location[df_user_location['userISOCode'].isna()]

print(missing_values_rows)

                                         userLocation userISOCode
8                    Sofiyivska Borschagivka, Ukraine        None
40                       Province of Barcelona, Spain        None
122            The Royal Town of Sutton Coldfield, UK        None
192                                    Moscow, Russia        None
444                                Stenloese, Denmark        None
507                       Paso Robles Wine Region, CA        None
702                                      Tehran, Iran        None
777                                           2271269        None
833                                            LexGSR        None
850                                            Europe        None
931                       Saint-Denis, Reunion Island        None
1015                        Ho Chi Minh City, Vietnam        None
1187                           St. Petersburg, Russia        None
1243                            Yekaterinburg, Russia        None
1808                      Pocono Mountains Region, PA        None
1909                           East End, Grand Cayman        None
2112                                     Shiraz, Iran        None
2146                               Seoul, South Korea        None
2293                  Stourport, null, United Kingdom        None
2392                                      BarnyardGal        None
2581                                   Tainan, Taiwan        None
2821                               Busan, South Korea        None
2997           Emirate of Dubai, United Arab Emirates        None
3281                                        Northeast        None
3495                                St-Michel-des-Sts        None
3657                                   Taipei, Taiwan        None
4053                                          3218894        None
4064                        Province of Malaga, Spain        None
4199                 Metro Minneapolis-Saint Paul, MN        None
4427                                          2151451        None
4492                               Caracas, Venezuela        None
4815                                       venice0810        None
4834                Bay of Plenty Region, New Zealand        None
4902                    Edgware, null, United Kingdom        None
4975                                  Vidnoye, Russia        None
5584                             Mom in Massachusetts        None
6022                   Efrat, Palestinian Territories        None
6228                          Dar es Salaam, Tanzania        None
6371                                 Toender, Denmark        None
6498                                          BPutnam        None
6585                         Province of Turin, Italy        None
6599                              Duong Dong, Vietnam        None
7237                                Essentuki, Russia        None
7412                            Seongnam, South Korea        None
7872                                    Mashhad, Iran        None
8342                                 Murmansk, Russia        None
8695                                        Biniamina        None
9022                             Novorossiysk, Russia        None
9645                                Krasnodar, Russia        None
9871                            Island of Gozo, Malta        None
10201                                   East Covertry        None
10933                           Nea Erithraia, Greece        None
11687                                         3733887        None
11743              Bishop's Stortford, Herts, England        None
11994                                        Coloradp        None
12242                               kinston upon hull        None
12280                             Chania Town, Greece        None
12693                                          580422        None
12903                                        11827142        None
14336                   Nassau, New Providence Island        None
14719                       Netanya, HaMerkaz, Israel        None
15159                                         3203406        None
15345                                        14968150        None
15604                         Meerensee, South Africa        None
15684                     San Juan, null, Puerto Rico        None
15760                     Ontario's Highlands, Canada        None
15761                    Upper Manhattan (Uptown), NY        None
16404                                  Hanoi, Vietnam        None
16495                                Reckange/Meersch        None
16543                           New Providence Island        None
16578                                          850579        None
16625                    Lowton, null, United Kingdom        None
18303                           Gualba de Dalt, Spain        None
18842          Dar es Salaam, Dar es Salaam, Tanzania        None
18985                              Zvenigorod, Russia        None
19009                      Ripe, null, United Kingdom        None
19040                         Santa Maria, Cape Verde        None
19135                                  Aylesbutry, UK        None
19728                 Sandefjord Municipality, Norway        None
19943                                            Asia        None
19969                                          499520        None
20193                       Milborne Saint Andrew, UK        None
20629                              Southern Califonia        None
20707                                        hcm city        None
21209                      Alabama Mountain Lakes, AL        None
21301                                Da Nang, Vietnam        None
21327                      Saint-Paul, Reunion Island        None
21554                        Seria, Brunei Darussalam        None
21721                              Ar-Rusaifa, Jordan        None
21797                        Southwest Gulf Coast, FL        None
21835                                Hull  East Yorks        None
22349             Friesland Province, The Netherlands        None
22523                                   Luang Prabang        None
22534                      Derrycity Northern Ireland        None
23141                             St. Alabans,England        None
23642                       Zanzibar Island, Tanzania        None
24016                                  Gtr Manchester        None
24127                                       Baulagirl        None
24302                           Sibiu County, Romania        None
24666                         Belchamp Saint Paul, UK        None
24728                                          298567        None
25000                           Tehran Province, Iran        None
25027                          Central Russia, Russia        None
25090                            Soenderborg, Denmark        None
25187                             S30052nellville Ga.        None
25359                                Mwanza, Tanzania        None
25445                           Ilfov County, Romania        None
26076                            Pest County, Hungary        None
26118                Canton of Solothurn, Switzerland        None
26289                                     brit abroad        None
26539                            Daejeon, South Korea        None
26639                                 Saratov, Russia        None
26875                                     Karaj, Iran        None
26982                      Zhongshan District, Taipei        None
27085                        Sheremet’yevskiy, Russia        None
27193                             Luang Prabang, Laos        None
27417                                        Mumbassa        None
27503                             Cochabamba, Bolivia        None
27560                                           Hanoi        None
27967                            North Ferrisburg, VT        None
28334                              Lilleroed, Denmark        None
28354                      Province of Bologna, Italy        None
28630                                    Guntrausdorf        None
28724                             Santa Cruz, Bolivia        None
28834                                   East Mids, UK        None
28866                                         1946224        None
28999                                  Staffordshsire        None
29161                       Province of Venice, Italy        None
29227                             Vladivostok, Russia        None
29267                               Vung Tau, Vietnam        None
29693         Karnei Shomron, Palestinian Territories        None
29779                                      South Pole        None
29816                           Henlow, Beds, England        None
29926                                         LaPeche        None
29995                      Southeast Romania, Romania        None
30016                                          Moscow        None
30220                                           34645        None
30269                  New Hampshire Lakes Region, NH        None
30882                  Alleroed Municipality, Denmark        None
31245                                       southeast        None
31778                             Bodrum City, Turkey        None
32239               Utrecht Province, The Netherlands        None
32321                           The Cincinnati Region        None
33502               Nelson-Tasman Region, New Zealand        None
33541                                         1840009        None
33645                    Nesbyen Municipality, Norway        None
33890                                        15410898        None
35432                      Carcassonne Center, France        None
35859                                   south america        None
35957                                Chicago vicinity        None
36037                               Dityatki, Ukraine        None
36131                                          Jvo621        None
36271                         Arusha Region, Tanzania        None
36299                          Mani Peninsula, Greece        None
36371                 Hawke's Bay Region, New Zealand        None
36476                                 Vientiane, Laos        None
36547                               Chisinau, Moldova        None
36602                                 Phu Ly, Vietnam        None
36785      Kinshasa, Democratic Republic of the Congo        None
38176                                 Vologda, Russia        None
38187                                 Blairsvillle,GA        None
38234                         Pyeongtaek, South Korea        None
38339                      Province of Cordoba, Spain        None
38400                    Province of Tarragona, Spain        None
38639                     Willaston on the Wirral, UK        None
39244                             Tula Oblast, Russia        None
39451                  Canton of Lucerne, Switzerland        None
39455                                    dunoonargyll        None
39767                  Raseborg Municipality, Finland        None
39806                                 Torghabeh, Iran        None
39846                                   Isfahan, Iran        None
39857                                    Kerman, Iran        None
39937                             Coleman's Hatch, UK        None
39951                                     Rasht, Iran        None
40275                            Incheon, South Korea        None
40325                                 Pushkin, Russia        None
40331                      Falun Municipality, Sweden        None
40464                                      Yazd, Iran        None
40505                             Al Jubaihah, Jordan        None
40616                               Isle of Luing, UK        None
40816                          Acre, HaTzafon, Israel        None
41607                                        15640893        None
41872           Seattle, the Great Pacific Northwest!        None
41985                        Borough of Brentwood, UK        None
42398                The Marina, United Arab Emirates        None
42416                                   Sheila Howell        None
42455    Bodrum, Mugla Province, Turkish Aegean Coast        None
42925                      Canton of Zug, Switzerland        None
43345                           Danville, Callifornia        None
45222                                 Star707, Sydney        None
45605                                Songshan, Taipei        None
45800                  Lindesnes Municipality, Norway        None
45842                           Harrow, Middlesex, UK        None
46350                                 Hoi An, Vietnam        None
46743                          Hoo Saint Werburgh, UK        None
46764                         Санкт-Петербург, Россия        None
46796                            Houston, Texas ya'll        None
46911                     Province of Zaragoza, Spain        None
47324                             Xindian, New Taipei        None
48098                              Hoersholm, Denmark        None
48100                    Norton, null, United Kingdom        None
48476                           Buan-gun, South Korea        None
51234                              Mosta, null, Malta        None
51287                       Province of Trento, Italy        None
51672                                 harrogate Yorks        None
52120                                 Happy in Surrey        None
52819                       Province of Girona, Spain        None
53263                            Odense, Fyn, Denmark        None
53346                     Nanyuki Municipality, Kenya        None
54154                                          Chcago        None
54194                              Yegoryevsk, Russia        None
54228                                        fae Fife        None
54451                                        11803959        None
54650                               Er Rabie, Lebanon        None
54749               Ramallah, Palestinian Territories        None
54955                             Gimhae, South Korea        None
55271                            Magnitogorsk, Russia        None
55369                          Orekhovo-Zuevo, Russia        None
55487                      Naberezhnye Chelny, Russia        None
55595                                Tolyatti, Russia        None
55832                              Pyatigorsk, Russia        None
55853                                   Lahijan, Iran        None
55894                                   Anapa, Russia        None
55918                                   Reshon Lezion        None
56053                                Arusha, Tanzania        None
56160                                  moscow, Russia        None
56245                             Novosibirsk, Russia        None
56996                                    Devpur Kutch        None
57317                        Jeju Island, South Korea        None
58413                                   the Nethlands        None
58987                    Canton of Basel, Switzerland        None
59225                    Province of Munster, Ireland        None
59338                                 Da Lat, Vietnam        None
59805                      Province of Perugia, Italy        None
59911                                     Nehterlands        None
60646                       Province of Verona, Italy        None
60913                             Riga Region, Latvia        None
60968                     couple from norfolk england        None
61867                     Driffield, North Humberside        None
62191                           Newbold Coleorton, UK        None
62359                              Batley, West Yorks        None
62367      West Kirby, Glannau Mersi, Deyrnas Unedig.        None
62690                         St Neots, Cambridgshire        None
62732                                   Brufut-Gambia        None
63727                     Province of Florence, Italy        None
63924                       Berkhamsted, Hertforshire        None
64048              Pacific Coast Australia, Australia        None
64659                    In the middle of the country        None
64785                       Belgian Westhoek, Belgium        None
65432                        Province of Milan, Italy        None
66427                            Lake Myvatn, Iceland        None
66501                      Dyroy Municipality, Norway        None
66656                          west coast of Scotland        None
66664                                  Murino, Russia        None
66800                      Ufa, Bashkortostan, Russia        None
67515                                        Norhwest        None
67844                                          Lahain        None
68347                       Oahu's Windward Coast, HI        None
68361                                          kascem        None
69039                            Nea Redestos, Greece        None
69416                                         1131314        None
70014                               Sydeny, Australia        None
70406                              Chicago - SW burbs        None
70604                              Vaerloese, Denmark        None
70829                                   Sochi, Russia        None
70856                                          Ny, NY        None
71101                  Lorenskog Municipality, Norway        None
71109                                        CHfornow        None
71959                                         Loondon        None
72345                                       BizFunNow        None
72871           Russian Gulf of Finland Coast, Russia        None
73456                           Moscow Oblast, Russia        None
74017                Canton of Neuchatel, Switzerland        None
74020                                  Shilin, Taipei        None
74156                      Singapore, null, Singapore        None
74213                   Plymouth, UK & Grasse, France        None
74230                                 Damascus, Syria        None
75364          Bandar Seri Begawan, Brunei Darussalam        None
75403                                       patrickjj        None
75532                      Province of Seville, Spain        None
75537                               Great White North        None
75572                       Kadimah, HaMerkaz, Israel        None
76175         Burton upon Trent, null, United Kingdom        None
76499                            Greater Seattle Area        None
77336                      Haram Municipality, Norway        None
77690                         much travelled Canadian        None
77814                        Province of Lucca, Italy        None
78193                             New England, U.S.A.        None
78373                                          cumnck        None
78468                         Moulsford on Thames, UK        None
78792                           Washington, the State        None
78966                      Chisinau District, Moldova        None
78977                       Chicago's North Shore, IL        None
79390                    Caithness and Sutherland, UK        None
79453                                        Seenoaks        None
79734                                         Beoleil        None
80206                               Pinner, Middlesex        None
81275                           Ski, Akershus, Norway        None
81507                                        14126710        None
82517            Isleworth, Middlesex, United Kingdom        None
82582             Mandurah and Peel Region, Australia        None
83270                       Province of Naples, Italy        None

In [44]:
def get_iso_code2(location):
    try:
        # Check for specific state cases in the US
        us_states = {
            'PA': 'US', 'MN': 'US', 'AL': 'US', 'CA': 'US', 'NY': 'US', 'TX': 'US',
            'FL': 'US', 'VT': 'US', 'NH': 'US', 'GA': 'US', 'HI': 'US'
        }
        if location.upper() in us_states:
            return us_states[location.upper()]

        # Merge all country exceptions into a single dictionary
        country_exceptions = {
            'St-Michel-des-Sts': 'CA', 'Mom in Massachusetts': 'US', 'Biniamina': 'IL',
            'East Covertry': 'US', 'Coloradp': 'US', 'kinston upon hull': 'GB',
            'Nassau, New Providence Island': 'BS', 'Reckange/Meersch': 'LU',
            'New Providence Island': 'BS', 'Southern Califonia': 'US', 'hcm city': 'VN',
            'Hull  East Yorks': 'GB', 'Luang Prabang': 'LA', 'Derrycity Northern Ireland': 'GB',
            'Gtr Manchester': 'GB', 'Mumbassa': 'KE', 'Hanoi': 'VN', 'Guntrausdorf': 'AT',
            'Staffordshsire': 'GB', 'Moscow': 'RU', 'The Cincinnati Region': 'US',
            'Chicago vicinity': 'US', 'Kinshasa, Democratic Republic of the Congo': 'CD',
            'Seattle, the Great Pacific Northwest!': 'US', 'Bodrum, Mugla Province, Turkish Aegean Coast': 'TR',
            'Danville, Callifornia': 'US', 'Star707, Sydney': 'AU', 'Санкт-Петербург, Россия': 'RU',
            "Houston, Texas ya'll": 'US', 'harrogate Yorks': 'GB', 'Happy in Surrey': 'GB',
            'Chcago': 'US', 'Reshon Lezion': 'IL', 'Devpur Kutch': 'IN', 'the Nethlands': 'NL',
            'Nehterlands': 'NL', 'couple from norfolk england': 'GB', 'Driffield, North Humberside': 'GB',
            'Batley, West Yorks': 'GB', 'West Kirby, Glannau Mersi, Deyrnas Unedig.': 'GB',
            'Brufut-Gambia': 'GM', 'Berkhamsted, Hertforshire': 'GB', 'west coast of Scotland': 'GB',
            'Lahain': 'US', 'Chicago - SW burbs': 'US', 'Loondon': 'GB', 'Greater Seattle Area': 'US',
            'New England, U.S.A.': 'US', 'cumnck': 'US', 'Seenoaks': 'GB', 'Beoleil': 'CA',
            'Pinner, Middlesex': 'GB', 'South Coast UK': 'GB', 'Klagenfurt/Križe': 'AT',
            'Norfolk Alien': 'GB', 'South Korea': 'KR', 'Taiwan': 'TW', 'Palestinian Territories': 'PS',
            'Grand Cayman': 'KY', 'Reunion Island': 'RE', 'Puerto Rico': 'PR', 'Russia': 'RU',
            'Cape Verde': 'CV', 'Laos': 'LA', 'Congo': 'CG', 'Syria': 'SY', 'Gambia': 'GM',
            'Scotland': 'GB', 'Kutch': 'IN', 'Netherlands': 'NL', 'England': 'GB', 'Wales': 'GB',
            'Cambridgeshire': 'GB', 'Suriname': 'SR', 'Bonaire': 'BQ', 'French Guiana': 'GF',
            'Falkland Islands': 'FK', 'Curaçao': 'CW', 'Sint Eustatius': 'BQ', 'Saba': 'BQ',
            'Sint Maarten': 'SX', 'Aruba': 'AW', 'Norfolk Island': 'NF', 'Trinidad and Tobago': 'TT',
            'New Zealand': 'NZ', 'Gozo': 'MT', 'Faroe Islands': 'FO', 'Malta': 'MT', 'Greenland': 'GL',
            'Guernsey': 'GG', 'Jersey': 'JE', 'Isle of Man': 'IM'
        }

        # Try to get ISO code directly from pycountry
        iso_code = country_exceptions.get(location, None) or pycountry.countries.search_fuzzy(location)[-1].alpha_2
    except (LookupError, IndexError):
        iso_code = None

    return iso_code

In [45]:
missing = df_user_location['userISOCode'].isna()
df_user_location.loc[missing, 'userISOCode'] = df_user_location.loc[missing, 'userLocation'].apply(get_iso_code2)

In [46]:
print(df_user_location['userISOCode'].isna().sum())

45

In [47]:
missing_values_rows = df_user_location[df_user_location['userISOCode'].isna()]

print(missing_values_rows)

                       userLocation userISOCode
777                         2271269        None
833                          LexGSR        None
850                          Europe        None
2392                    BarnyardGal        None
3281                      Northeast        None
4053                        3218894        None
4427                        2151451        None
4815                     venice0810        None
6498                        BPutnam        None
11687                       3733887        None
12693                        580422        None
12903                      11827142        None
15159                       3203406        None
15345                      14968150        None
16578                        850579        None
19943                          Asia        None
19969                        499520        None
24127                     Baulagirl        None
24728                        298567        None
25187           S30052nellville Ga.        None
26289                   brit abroad        None
28866                       1946224        None
29779                    South Pole        None
29926                       LaPeche        None
30220                         34645        None
31245                     southeast        None
33541                       1840009        None
33890                      15410898        None
35859                 south america        None
36131                        Jvo621        None
39455                  dunoonargyll        None
41607                      15640893        None
42416                 Sheila Howell        None
54228                      fae Fife        None
54451                      11803959        None
64659  In the middle of the country        None
67515                      Norhwest        None
68361                        kascem        None
69416                       1131314        None
71109                      CHfornow        None
72345                     BizFunNow        None
75403                     patrickjj        None
75537             Great White North        None
77690       much travelled Canadian        None
81507                      14126710        None

In [49]:
df_user_location.to_excel("C:\\Users\\catar\\OneDrive\\Documentos\\UserLocationClean.xlsx", index=False)